<div class="inicio">
    <div class="info">
        <div style="background-color: rgba(60, 110, 113, 0.5); width: 40%; text-align: center;">
            <h1>AV Books</h1>
            <p>Imagination | Fun | Learning </p>
        </div>
    </div>
</div>

<!-- GÉNEROS LITERARIOS -->
<div style="text-align: center; background-color: var(--third);">
    <h2>Literary Genres</h2>
    <div class="generos">
        <div>
            <h3>Drama</h3>
        </div>
        <div>
            <h3>Mistery</h3>
        </div>
        <div>
            <h3>Poetry</h3>
        </div>
        <div>
            <h3>Fiction</h3>
        </div>
        <div>
            <h3>Mithology</h3>
        </div>
    </div>
</div>