<div class="inicio">
    <div class="info">
        <div style="background-color: rgba(60, 110, 113, 0.5); width: 40%; text-align: center;">
            <h1 style="font-size: 60px;">AV Books</h1>
            <p style="font-size: 25px; background-color: rgba(60, 110, 113, 0.7);">Imagination | Fun | Learning </p>
        </div>
    </div>
</div>
<hr>
<!-- GÉNEROS LITERARIOS -->
<div style="text-align: center; background-color: var(--primary);">
    <h2 style="color: white; font-size: 40px;">Literary Genres</h2>
    <div class="generos">
        <div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/GDrama.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drama</h5>
                    <p class="card-text">Is strongly based in a character, or characters, that are in conflict at a crucial moment in their lives.</p>
                    <a href="#" class="btn btn-secondary">See more</a>
                </div>
            </div>
            <br>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/GMystery.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mystery</h5>
                    <p class="card-text">Is a genre whose stories focus on a puzzling crime, situation, or circumstance that needs to be solved</p>
                    <a href="#" class="btn btn-secondary">See more</a>
                </div>
            </div>
            <br>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/GMythology.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mythology</h5>
                    <p class="card-text">A myth is a sacred narrative explaining how the world and humankind came to be in their present form. The main characters are usually gods or supernatural heroes.</p>
                    <a href="#" class="btn btn-secondary">See more</a>
                </div>
            </div>
            <br>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/GSciFi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Science Fiction</h5>
                    <p class="card-text">The scene might be a distant galaxy, or the far future, or a familiar downtown. There is always something new and different</p>
                    <a href="#" class="btn btn-secondary">See more</a>
                </div>
            </div>
            <br>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/GPoetry.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Poetry</h5>
                    <p class="card-text">Is a type of literature based on the interplay of words and rhythm. It often employs rhyme and meter.</p>
                    <a href="#" class="btn btn-secondary">See more</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<hr>
<div class="reasons-bg">
    <div style="background-color: rgba(0, 0, 0, 0.35);">
        <br>
        <div class="reasons">
            <div style="width: 50%;">
                <img src="../../../assets/images/datoscuriosos.jpg" alt="" class="imagenr">
            </div>
            <div style="background-color: rgba(254, 254, 254, 0.4); border-radius: 8%;">
                <div style="margin: 10px;">
                    <h3>Some reasons why reading is important</h3>
                    <div>
                        <ul>
                            <li>It improves your creativity and imagination.</li>
                            <li>Books help you learn.</li>
                            <li>It increases your vocabulary.</li>
                            <li>Books improve communication skills.</li>
                            <li>It increases your concentration and attention span.</li>
                            <li>It improves your writing skills.</li>
                            <li>Reading reduces stress.</li>
                            <li>It boosts your empathy.</li>
                            <li>Reading improves memory.</li>
                            <li>It expands your understanding of the world.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <br>
    </div>
</div>