<section class="about-us">
    <div style="background-color: rgba(254,254,254,0.3); height: auto;">
        <br>
        <div class="container">
            <br>
            <div class="about">
                <h2><span style="color: var(--third);"> About</span> us </h2>
            </div>
            <br>
            <div class="centrar">
                <img src="../../../assets/images/mission-vision.jpg" width="70%" style="border-radius: 70px;">
            </div>
            <br>
            <div style="background-color: rgba(0,0,0,0.2); width: 80%; margin-left: auto;margin-right: auto; border-radius: 80px;">
                <div style="padding: 25px;">
                    <p>Our bookstores offer a fast and efficient service, and have the widest assortment of general interest, professional, academic and text books for all educational levels in Spanish, English and other languages, as well as reading books
                        for children, young people and adults in English and Spanish.</p>
                    <p>Our audience is composed mainly of male and female students, teachers, professionals and intellectuals, and all those who are interested in culture and seek information and entertainment.</p>
                    <p>We constantly provide our customers with different services and promotions that enrich their shopping experience. Additionally, we provide spaces for expression, where different events and cultural activities take place.</p>
                </div>
            </div>
            <br>
            <!-- Mission & vision -->
            <div class="centrar" style="flex-wrap: wrap;">
                <!-- FLIP MISSION -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../../assets/images/Mission.png" alt="" width="100%">
                        </div>
                        <div class="flip-card-back">
                            <p>Our mission is to provide quality but affordable books for education, entertainment, self-development and self-fulfillment; to all when the need arises by</p>
                            <ul>
                                <li>Providing a wide range of books to satisfy our clients.</li>
                                <li>Exceeding our customers’ expectation in their book requirements.</li>
                                <li>Making our books accessible in the market.</li>
                                <li>Enriching our client’s life.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- FLIP CARD VISION -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../../assets/images/Vision.png" alt="" width="100%">
                        </div>
                        <div class="flip-card-back">
                            <p>Our vision is to become the largest and leading book distributor in CDMX.</p>
                            <p>Support and participate in the evolution of the publishing industry towards new forms of distribution and commercialization of content in electronic and printed format.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
    </div>
</section>