<section class="about-us">
    <div style="background-color: rgba(254,254,254,0.3);">
        <div class="container">
            <div class="about">
                <h2><span style="color: var(--third);">About</span> us</h2>
            </div>

            <div>
                <div><img src="../../../assets/images/mission-vision.jpg" alt=""></div>
                <div>
                    <div>
                        <h4>Mission</h4>
                        <p>Our mission is to provide quality but affordable books for education, entertainment, self-development and self-fulfillment; to all when the need arises by</p>
                        <ul>
                            <li>Providing a wide range of books to satisfy our clients.</li>
                            <li>Exceeding our customers’ expectation in their book requirements.</li>
                            <li>Making our books accessible in the market.</li>
                            <li>Enriching our client’s life in their quest for educational and entertaining books.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Vision</h4>
                        <p>Our vision is to become the largest and leading book distributor in CDMX.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>