/* You can add global styles to this file, and also import other style files */

:root {
    --dark: #353535;
    --primary: #3C6E71;
    --secondary: #D9D9D9;
    --third: #284B63;
}


/*color: var(--primary);*/