<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<hr style="margin-bottom: 0%; margin-top: 0%; color: black;">
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <p>Contact</p>
                    <ul>
                        <li><i class="fas fa-phone"></i> +52 554 1234 5678 </li>
                        <li><i class="fas fa-envelope"></i> av.books@gmail.com</li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <p>Recomendations</p>
                    <ul>
                        <li><i>War and Peace</i>, by Leo Tolstoy</li>
                        <li><i>Little Women</i>, by Louisa May Alcott</li>
                        <li><i>The Lovely Bones</i>, by Alice Sebold</li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>AV Books</h3>
                    <p>You deserve a beautiful book, just like you!</p>
                </div>
                <div class="col item social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
            <p class="copyright">AV Books © 2021</p>
        </div>
    </footer>
</div>
<hr style="margin-bottom: 0%; margin-top: 0%; color: black;">